.btn {
  &:hover, 
  :focus {
    background-color: $color-basic-red-hover;
  }
  
  &:active {
    background-color: $color-basic-red-click;
  }
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  letter-spacing: 2px;
  // display: inline-flex;
  margin: 10px 0;
  padding: 13px 6px 14px 5px;
  text-transform: uppercase;
  border-radius: 4px;

  color: $color-default-white;

  background-color: $color-default-red;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--white {
    background-color: inherit;
    border: 2px solid $color-basic-grey;
    color: $color-basic-grey;

    &:hover,
    :focus {
      background-color: inherit;
      border-color: $color-basic-green-hover;
   
    }
    &:active {
      background-color: inherit;
      border-color: $color-basic-greylight;
      color: $color-basic-greylight;
    }
  }

  &--green {
    background-color: $color-basic-green;

    &:hover,
    :focus {
      background-color: $color-basic-green-hover;
    }

    &:active {
      background-color: $color-basic-green-click;
    }
  }

  &--special {
 
    background-color: inherit;
    background-image: url("../../img/svg/shape.svg");
    display: block;
    width: 138px;
    height: 40px;
    text-align: center;

    &:hover,
    :focus {
      background: url("../../img/svg/shape-hover.svg");
      
     
    }

    &:active{
      background: url("../../img/svg/shape-click.svg");
    }
  }

  &--greenborder {
    background-color: inherit;
    border: 2px solid $color-basic-green;
    color: inherit;
    &:hover,
    :focus {
      border-color: $color-basic-grey;
      background-color: inherit;
      outline: none;
    }

    &:active {
      border-color: $color-basic-greylight;
      color: $color-basic-greylight;
      background-color: inherit;
      outline: none;
    }
  }


  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }


  // @media (hover: hover),
  // screen and (min-width: 0\0) {

  //   &:hover,
  //   &:focus {
  //     opacity: 0.8;
  //   }
  // }
}