.contacts {
  .contacts__block {
    display: grid;
    
    grid-template-columns: auto 500px;
    grid-column-gap: 100px;
  }

  .contacts__button {
    display: block;
    width: 195px;
    text-align: center;
  }
}