.footer {
  background-color: $color-basic-grey-hover;
  color: $color-default-white;

  a {
    color: $color-special-yellowlight;
  }


  ul {
    @include reset-ul();
  }
}



.footer__nav {
  display: flex;
  justify-content: space-between;

  a {
    display: block;

  }
}

.footer__copyright {
  background-color: $color-basic-grey-click;
  padding: 10px;

  div {
    display: flex;

  }

  :last-child {
    margin-left: auto;
  }


}

.footer__column {

  p {
    text-align: right;

  }

  label {
    display: block;
  }

  input {

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding: 10px;
    border: 1px solid $color-basic-green;
    border-radius: 2px;
    // background-color: $color-basic-green;
    background-image: url("../../img/sprite/icon-cart-green.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;


  }
}
