.header {
  h1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-family: "PT Sans Italic";
    color: $color-default-red;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  ul {
    display: flex;

    @include reset-ul;
  }
}

.header__contacts {
  font-size: 14px;
  line-height: 18px;

  li {
    padding: 12px;

  }

  address {
    font-style: normal;
  }

  a {
    padding-left: 20px;
    font-weight: 700;
    font-size: 16px;
    font-family: "PT Sans Bold";
    color: $color-darkblue;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;

    &::before {
      position: absolute;
      content: " ";
      mask-image: url("/img/sprite/icon-phone.svg");
      background-color: $color-basic-grey-click;
      width: 16px;
      height: 16px;
      left: 0;

    }
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  user-select: none;
}

.header__filter {
  background-color: $color-darkblue;
  height: 45px;

  label {
    position: relative;

    &::after {
      top: 30%;
      left: 10px;
      position: absolute;
      content: " ";
      width: 20px;
      height: 20px;
      background-color: $color-default-white;
      opacity: 0.3;

      mask-image: url("../../img/sprite/icon-search.svg");
    }
  }

  input {
    padding-left: 40px;
    background-color: inherit;
    border: none;
    color: $color-default-white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  a {
    display: flex;
    align-items: center;
    color: $color-basic-background;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;

    letter-spacing: 2px;
    text-transform: uppercase;


    &:link {
      padding-left: 30px;
      position: relative;

      &::before {
        position: absolute;
        content: " ";
        width: 16px;
        height: 16px;
        background-color: $color-default-white;
        // background-size: contain;
        mask-size: 16px 16px;
        mask-image: url("../../img/sprite/icon-login.svg");
        // background-image: url("../../img/sprite/icon-login.svg");

        left: 0;

      }
    }

  }
}

.header__map {
  background-color: $color-blue;


}

.header__login {
  margin-left: auto;
}

.header__user {
  margin-left: auto;

  svg {
    fill: $color-default-white;
  }

  li {
    display: flex;
    align-items: center;
    margin-left: 5px;
  }

  a {
    padding: 10px;

  }
}

.header__nav {
  li {

    margin-right: 20px;

  }

  a {
    border-radius: 3px;
    padding: 15px;
    line-height: 24px;
    color: $color-default-white;

    &:hover,
    :focus {
      color:$color-basic-greylight;
      outline: none;
      background-color: $color-basic-grey-hover;
    }

    &:active {
      color:$color-default-white;
      outline: none;
      background-color: $color-basic-grey-hover;
      // font-weight: 700;
    }
  }

}
