.service {
  padding: 30px;
  background-image: url("../../img/svg/background.svg");
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: -100%;
    background-image: url("../../img/svg/background.svg");
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    background-image: url("../../img/svg/background.svg");
  }

  svg {
    fill: $color-basic-red-hover;
  }
  h2 {
    text-align: center;
  }

  ul {
    @include reset-ul();

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  li {
    background-color: $color-default-white;

    padding: 24px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
  }

  h3 {


    font-weight: 700;
    font-size: 24px;
    line-height: 30px;


    text-transform: uppercase;

    /* Basic-grey-hover */

    color: $color-basic-grey-hover;

  }

  p {
    margin: 0;


    font-size: 16px;
    line-height: 24px;
  }
  .service__description {
  width: 555px;
  margin: 30px auto 40px auto;
}
}


// .service__item {

//   background-repeat: no-repeat;

//   &--delivery {


//     background-image: url("../../img/svg/icon-paints.svg");
//   }
// }
